@import 'variables';

body {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
}


/* main */
.sbn-main {
    padding: $main-padding;
    min-height: calc(100vh - 8em);
}

section {
    display: block;
    max-width: $readable-width;
    box-sizing: border-box;
}

/* iPhone 6 & wider */
@media (min-width: 375px) {
    .sbn-footer-text {
        font-size: 1em;
    }
    .sbn-subtitle {
        font-size: 1.2em;
    }
}
/* iPhone 6 Plus & wider */
@media (min-width: 414px) {

}
/* iPad (portrait mode) & wider */
@media (min-width: 768px) {
    .menu-clickable {
        display: none;
    }
    .sbn-menu-handle {
        display: none;
    }
    .sbn-sidebar {
        box-sizing: border-box;
        width: 250px;
        position: absolute;
        left: 0;
        top: 5em;
    }
    .sbn-title {
        font-size: 1em;
    }
    .sbn-subtitle {
        font-size: 1.7em;
    }
    .pds-logo img {
        height: 4.5em;
    }
    .sbn-main {
        margin-left: 250px;
        min-height: 550px;
    }
}
/* iPad (landscape mode) & wider */
@media (min-width: 1024px) {
    .sbn-header {
        background-position-x: right;
    }
}

h1 {
    text-align: center;
}

.tiny-icon {
    height: 1.5em;
}

main aside {
    float: right;
    max-width: 35%;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    section {
        margin-bottom: 1em;
        margin-right: 15px;
        box-shadow: 1px 1px 2px #dadada;
    }
}

.download-size {
    font-size: 0.7em;
}

.resource-description {
    font-weight: 200;
    max-width: $readable-width;
}

.dataset-metadata {
    display: block;
    padding: 0 20px 0 20px;
    background-color: #EDEDED;
    word-wrap: break-word;
    h2 {
        font-size: 1.2em;
        text-align: center;
    }
    p {
        font-weight: bold;
        .datum {
            margin-left: 1em;
            font-weight: normal;
        }        
    }
}

.related-references {
    display: flex;
    flex-flow: row wrap;
    section {
        flex: 1;
        min-width: 350px;
    }
}

.dataset-pds3, .dataset-superseded, .dataset-related {
    background-color: #EDEDED;
    padding: 20px;
    margin: 15px;
    box-shadow: 1px 1px 2px #dadada;
    .header {
        display: block;
        margin: -20px -20px 15px -20px;
        padding: 15px;
        text-align: center;
        color: white;
        font-size: 1.3em;
    }
    ul {
        list-style-type: none;
        padding-left: 0;
    }
    li {
        margin-bottom: 0.2em;
    }
}

.dataset-tools {
    padding: 20px;
    margin: 15px;
    .header {
        font-size: 1.7em;
        margin-top: 0px;
    }
    ul {
        list-style-type: none;
        display: flex;
        flex-flow: row wrap;
        margin: 0;
        padding: 0;
    }
    li {
        flex: 1;
        border: 2px solid $blue;
        background-color: white;
        border-radius: 10px;
        max-width: 250px;
        margin-right: 15px;
        margin-bottom: 15px;
        a {
            display: flex;
            flex-flow: column;
            align-items: center;
            padding: 16px;
            text-align: center;
            box-sizing: border-box;
            height: 100%;
            .image-container {
                padding: 10px;
                flex-grow: 1;
                display: flex;
                align-items: center;
                justify-content: center;
                img {
                    max-width: 180px;
                    max-height: 120px;
                }
            }
            .tool-title {
                align-self: flex-end;
            }
        }
    }
}

.dataset-delivery {
    background-color: $blue;
    color: white;
    display: flex;
    text-align: center;
    flex-flow: column;
    margin: -$main-padding;
}

.dataset-pds3, .dataset-related {
    border: 2px solid $blue;
    .header {
        background-color: $blue;
    }
}

.dataset-superseded {
    border: 2px solid $red;
    .header {
        background-color: $red;
    }
}

.dataset-citation {
    margin-top: 2em;
    margin-bottom: 2em;
    display: flex;
    flex-flow: row nowrap;
    font-style: italic;
    color: $superDarkGrey;
    .citation {
        font-style: normal;
    }
    img {
        max-width: 50px;
        max-height: 50px;
    }
    .start-quote {
        align-self: flex-start;
        margin-right: 0.5em;
    }
    .end-quote {
        align-self: flex-end;
        margin-left: 0.5em;
    }
}

.dataset-links {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    background-color: #EDEDED;
    flex-grow: 1;
    padding: 1em;
    a {
        height: 60px;
        background-color:$link;
        color: white;
        padding: 14px 20px;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        box-shadow: 0 4px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        box-sizing: border-box;
        text-align: center;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        &:not(:last-child) {
            margin-bottom: 1em;
        }
        img {
            height: 1.3em;
            color: white;
            margin-right: 0.5em;
        }
    }
}

#taxonomy {
    display: flex;
    flex-flow: row wrap;

    // margin-top: -$main-padding;
    // margin-left: -$main-padding;
    // margin-right: -$main-padding;
    // margin-bottom: 10px;
    // padding: 12px 20px;
    // background-color: $superDarkGrey;
    // -webkit-box-shadow: inset 0px 0px 20px 0px rgba(0,0,0,0.75);
    // -moz-box-shadow: inset 0px 0px 20px 0px rgba(0,0,0,0.75);
    // box-shadow: inset 0px 0px 20px 0px rgba(0,0,0,0.75);
    // color: white;
    
    .banner {
        height: 60px;
        margin: 5px 10px;
        box-shadow: 0 4px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        transform: skewX(-25deg);    
        background-color: $link;
        
        a {
            transform: skewX(25deg);
            padding: 5px 15px;
            // text-decoration: underline;
            color: white;
            height: 60px;
            box-sizing: border-box;
            
            display: flex;
            flex-direction: row;
            align-items: center;
            
            img {
                max-height: 50px;
                margin-right: 1em;
            }
        }
        &.target {
            background-color: black;
        }

        &:after:not(:last-child) {
            width: 0;
            height: 0;
            border-top: 20px solid red;
            border-right: 20px solid transparent;
        }
    }
}

.mission-header, .target-header, .instrument-header {
    color: white;
    margin-left: -$main-padding;
    margin-right: -$main-padding;
    
    display: flex;
    text-align: center;
    flex-flow: row wrap;
    align-items: center;
    padding: 20px;
    img {
        max-height: 150px;
        ~ h1 {
            margin-left: 20px;
        }
    }
    h1 {
        font-size: 2.5em;
    }
    & ~ aside {
        margin-top: -40px;
    }

}

.target-header {
    background-color: black;
}

.instrument-header {
    background-color: $superDarkGrey;
}

.target-mission-datatypes {
    padding: 10px 0 0 10px;
    border-left: 8px solid $blue;
    .target-mission-datatype-datasets {
        padding-left: 10px;
    }
}

.embedded-list {
    margin-left: 10px;
    font-size: 0.9em;
}

table {
    clear: both;
    border: none;
    border-collapse: collapse;
    border: 2px solid $superDarkGrey;
    th, td {
        padding: 5px;
        border: 1px solid $grey;
    }
    td {
        .title {
            font-size: 1.1em;
            font-weight: bolder;
        }
        .description {
            font-size: 0.9em;
            color: rgba(0, 0, 0, 0.7);
        }
    }
}

.dataset-collections {
    display: flex;
    flex-grow: 1;
    flex-direction: column;

    & > .header {
        display: flex;
        flex-flow: row nowrap;
        width: 100%;
        .type-title {
            font-size: 1.7em;
        }
        .date {
            color: $darkGrey;
            text-align: text-bottom;
        }
        .bar-button {
            margin-left: auto;
        }
        & ~ .product:nth-child(2) {
            margin-top: 0.8em;
        }
    }
    .collection-container {
        padding: 12px 20px;
    }
}
.collection {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 0.5em;
    border-top: 1px solid $lightGrey;
    .header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        .example .file-label {
            color: $darkGrey;
        }
    }
    .collection-title {
        font-size: 1.2em;
    }
    &:first-child {
        border-top: none;
    }
    .actions {
        flex-grow: 1;
        
        font-size: 0.9em;

        display: flex;
        flex-flow: row-reverse wrap;
        align-items: center;
        a {
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            text-align: center;
            margin: 0.5em;
            img {
                height: 2.5em;
            }
        }
    }
}

.collection-container {
    margin-left: 5px;
    border-left: 8px solid $blue;
    box-sizing: border-box;
    padding: 20px 0 0 20px;
    h1, .collection-title {
        text-align: left;
        &::before {
            content: " ";
            display: block;
            background: url("/images/icn-collection.png") no-repeat;
            background-size: 1.5em;
            width: 1.5em;
            height: 1.5em;
            float: left;
            margin: 0 0.8em 0 0;
        }
    }
    h1 {
        margin-top: 0;
        img {
            display: none;
        }
    }
    ~ .collection-container:not(:last-child), &:first-child {
        border-bottom: none;
    }
}
.bundle-container {
    h1 {
        border-bottom: 1px solid $grey;
        line-height: 2em;
        .image-container {
            float: left;
            img {
                height: 1.7em;
            }
        }
        .resource-title {
            margin: 0 auto;
        }
    }
}

.clearfix:after {
    content: " "; 
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
 }

 .family-links {
    margin-left: 5px;
    width: 100%;
    min-height: 75px;

    display: inline-flex;
    flex-flow: row wrap;
    align-items: center;
    > a {
        font-size: 1.2em;
        padding-left: 4px;
        height: 60px;
        box-sizing: border-box;
        
        display: flex;
        flex-direction: row;
        align-items: center;
        
    }
    img {
        max-height: 48px;
        margin-right: 1em;
    }

    div {
        margin-left: auto;
        display: flex;
        flex-flow: row wrap;
        a {
            margin-right: 1em;

        }
    }
}

.dataset-quicklinks {
    display: flex;
    flex-flow: row wrap;
    max-width: $readable-width;
    div {
        display: inline;
        padding: 20px;
        max-width: 500px;
        flex: 1;
        h3 {
            text-align: center;
        }
        a {
            display: flex;
            flex-direction: column;
            align-items: center;
            border: 4px solid $link;
            border-radius: 10px;
            padding: 20px;
            img {
                max-height: 200px;
                max-width: 200px;
                color: white;
                margin-bottom: 0.5em;
            }
            span {
                word-break:break-all
            }
        }
    }
}


.dataset-downloads {
    ul {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        padding-left: 0;
    }
    li {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;

        margin-left: 0;
        padding: 1em;
        
        img {
            height: 1.5em;
            margin-right: 0.8em;
        }
    }
}

.big-ugly-button {
    min-width: 120px;
    background-color:$link;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 4px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    box-sizing: border-box;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}