@import 'variables';

body {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
}
a:not(.ignore-a-styling) {
    color: $link;
    // text-decoration: none;
    // letter-spacing: 0.1em;
}


/* main */
.sbn-main {
    padding: $main-padding;
    min-height: calc(100vh - 8em);
}

section {
    display: block;
    max-width: $readable-width;
    box-sizing: border-box;
}

/* iPhone 6 & wider */
@media (min-width: 375px) {
    .sbn-footer-text {
        font-size: 1em;
    }
    .sbn-subtitle {
        font-size: 1.2em;
    }
}
/* iPhone 6 Plus & wider */
@media (min-width: 414px) {

}
/* iPad (portrait mode) & wider */
@media (min-width: 768px) {
    .menu-clickable {
        display: none;
    }
    .sbn-menu-handle {
        display: none;
    }
    .sbn-sidebar {
        box-sizing: border-box;
        width: 250px;
        position: absolute;
        left: 0;
        top: 5em;
    }
    .sbn-title {
        font-size: 1em;
    }
    .sbn-subtitle {
        font-size: 1.7em;
    }
    .nasa-logo {
        height: 4.5em;
    }
    .sbn-main {
        margin-left: 250px;
        min-height: 550px;
    }
}
/* iPad (landscape mode) & wider */
@media (min-width: 1024px) {
    .sbn-header {
        background-position-x: right;
    }
}

h1 {
    text-align: center;
}

.tiny-icon {
    height: 1.5em;
}

main aside {
    float: right;
    max-width: 40%;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    section {
        margin-bottom: 1em;
        margin-right: 15px;
        box-shadow: 1px 1px 2px #dadada;
    }
}

.datum {
    font-weight: bold;
    margin-left: 1em;
}
.download-size {
    font-size: 0.7em;
}

.resource-description {
    font-weight: 200;
    max-width: $readable-width;
}

.dataset-metadata {
    display: block;
    padding: 0 20px 0 20px;
    background-color: #EDEDED;
}

.related-references {
    display: flex;
    flex-flow: row wrap;
    section {
        flex: 1;
        min-width: 350px;
    }
}

.dataset-pds3, .dataset-superseded, .dataset-related {
    background-color: #EDEDED;
    padding: 20px;
    margin: 15px;
    box-shadow: 1px 1px 2px #dadada;
    .header {
        display: block;
        margin: -20px -20px 15px -20px;
        padding: 15px;
        text-align: center;
        color: white;
        font-size: 1.3em;
    }
    ul {
        list-style-type: none;
        padding-left: 0;
    }
    li {
        margin-bottom: 0.2em;
    }
}

.dataset-delivery {
    background-color: $blue;
    color: white;
    display: flex;
    text-align: center;
    flex-flow: column;
    margin: -$main-padding;
}

.dataset-pds3, .dataset-related {
    border: 2px solid $blue;
    .header {
        background-color: $blue;
    }
}

.dataset-superseded {
    border: 2px solid $red;
    .header {
        background-color: $red;
    }
}

.dataset-citation {
    margin-top: 2em;
    margin-bottom: 2em;
    display: flex;
    flex-flow: row nowrap;
    font-style: italic;
    .citation {
        font-style: normal;
    }
    img {
        max-width: 50px;
        max-height: 50px;
    }
    .start-quote {
        align-self: flex-start;
        margin-right: 0.5em;
    }
    .end-quote {
        align-self: flex-end;
        margin-left: 0.5em;
    }
}

.dataset-links {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    background-color: #EDEDED;
    flex-grow: 1;
    padding: 1em;
    a {
        height: 60px;
        background-color:$link;
        color: white;
        padding: 14px 20px;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        box-shadow: 0 4px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        box-sizing: border-box;
        text-align: center;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        &:not(:last-child) {
            margin-bottom: 1em;
        }
        img {
            height: 1.3em;
            color: white;
            margin-right: 0.5em;
        }
    }
}

#taxonomy {
    display: flex;
    flex-flow: row wrap;
    
    .banner {
        height: 60px;
        margin: 5px 10px;
        box-shadow: 0 4px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        transform: skewX(-25deg);    
        background-color: $link;
        
        a {
            transform: skewX(25deg);
            padding: 5px 15px;
            // text-decoration: underline;
            color: white;
            height: 60px;
            box-sizing: border-box;
            
            display: flex;
            flex-direction: row;
            align-items: center;
            
            img {
                max-height: 50px;
                margin-right: 1em;
            }
        }
        &.target {
            background-color: black;
        }

        &:after:not(:last-child) {
            width: 0;
            height: 0;
            border-top: 20px solid red;
            border-right: 20px solid transparent;
        }
    }
}

.mission-header {
    color: white;
    margin-left: -$main-padding;
    margin-right: -$main-padding;
    
    display: flex;
    text-align: center;
    flex-flow: row wrap;
    align-items: center;
    padding: 20px;
    img {
        max-height: 150px;
    }
    h1 {
        font-size: 2.5em;
    }
    & ~ aside {
        margin-top: -40px;
    }
}

table {
    clear: both;
    border: none;
    border-collapse: collapse;
    border: 2px solid $superDarkGrey;
    th, td {
        padding: 5px;
        border: 1px solid $grey;
    }
    td {
        .title {
            font-size: 1.1em;
            font-weight: bolder;
        }
        .description {
            font-size: 0.9em;
            color: rgba(0, 0, 0, 0.7);
        }
    }
}

.card {
    padding: 1em;
    margin-bottom: 1em;
    border: 1px solid $grey;
    box-shadow: 1px 1px 5px 0 #c6c6c6;
    border-radius: 10px;
}

.dataset-collections {
    // clear: both;
    display: flex;
    flex-grow: 1;
    flex-direction: column;

    & > .header {
        display: flex;
        flex-flow: row nowrap;
        width: 100%;
        .type-title {
            font-size: 1.7em;
        }
        .date {
            color: $darkGrey;
            text-align: text-bottom;
        }
        .bar-button {
            margin-left: auto;
        }
        & ~ .product:nth-child(2) {
            margin-top: 0.8em;
        }
    }
}
.collection {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 0.5em;
    border-top: 1px solid $lightGrey;
    &:first-child {
        border-top: unset;
    }
    .header {
        display: flex;
        flex-direction: column;
        .example:before {
            content: 'Inside: ';
            color: $darkGrey;
        }
    }
    .collection-title {
        font-size: 1.2em;
        color: $link;
    }
    .actions {
        flex-grow: 1;
        
        font-size: 0.9em;

        display: flex;
        flex-flow: row-reverse wrap;
        align-items: center;
        img {
            height: 2.5em;
            margin: 0.5em;
        }
    }
}