body {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans', sans-serif; }

/* main */
.sbn-main {
  padding: 0.7em;
  min-height: calc(100vh - 8em); }

section {
  display: block;
  max-width: 1200px;
  box-sizing: border-box; }

/* iPhone 6 & wider */
@media (min-width: 375px) {
  .sbn-footer-text {
    font-size: 1em; }

  .sbn-subtitle {
    font-size: 1.2em; } }
/* iPhone 6 Plus & wider */
/* iPad (portrait mode) & wider */
@media (min-width: 768px) {
  .menu-clickable {
    display: none; }

  .sbn-menu-handle {
    display: none; }

  .sbn-sidebar {
    box-sizing: border-box;
    width: 250px;
    position: absolute;
    left: 0;
    top: 5em; }

  .sbn-title {
    font-size: 1em; }

  .sbn-subtitle {
    font-size: 1.7em; }

  .nasa-logo {
    height: 4.5em; }

  .sbn-main {
    margin-left: 250px;
    min-height: 550px; } }
/* iPad (landscape mode) & wider */
@media (min-width: 1024px) {
  .sbn-header {
    background-position-x: right; } }
h1 {
  text-align: center; }

.tiny-icon {
  height: 1.5em; }

main aside {
  float: right;
  max-width: 35%;
  display: flex;
  flex-direction: column;
  margin-left: 10px; }
  main aside section {
    margin-bottom: 1em;
    margin-right: 15px;
    box-shadow: 1px 1px 2px #dadada; }

.download-size {
  font-size: 0.7em; }

.resource-description {
  font-weight: 200;
  max-width: 1200px; }

.dataset-metadata {
  display: block;
  padding: 0 20px 0 20px;
  background-color: #EDEDED;
  word-wrap: break-word; }
  .dataset-metadata h2 {
    font-size: 1.2em;
    text-align: center; }
  .dataset-metadata p {
    font-weight: bold; }
    .dataset-metadata p .datum {
      margin-left: 1em;
      font-weight: normal; }

.related-references {
  display: flex;
  flex-flow: row wrap; }
  .related-references section {
    flex: 1;
    min-width: 350px; }

.dataset-pds3, .dataset-superseded, .dataset-related {
  background-color: #EDEDED;
  padding: 20px;
  margin: 15px;
  box-shadow: 1px 1px 2px #dadada; }
  .dataset-pds3 .header, .dataset-superseded .header, .dataset-related .header {
    display: block;
    margin: -20px -20px 15px -20px;
    padding: 15px;
    text-align: center;
    color: white;
    font-size: 1.3em; }
  .dataset-pds3 ul, .dataset-superseded ul, .dataset-related ul {
    list-style-type: none;
    padding-left: 0; }
  .dataset-pds3 li, .dataset-superseded li, .dataset-related li {
    margin-bottom: 0.2em; }

.dataset-delivery {
  background-color: #859ec8;
  color: white;
  display: flex;
  text-align: center;
  flex-flow: column;
  margin: -0.7em; }

.dataset-pds3, .dataset-related {
  border: 2px solid #859ec8; }
  .dataset-pds3 .header, .dataset-related .header {
    background-color: #859ec8; }

.dataset-superseded {
  border: 2px solid #812517; }
  .dataset-superseded .header {
    background-color: #812517; }

.dataset-citation {
  margin-top: 2em;
  margin-bottom: 2em;
  display: flex;
  flex-flow: row nowrap;
  font-style: italic;
  color: #646464; }
  .dataset-citation .citation {
    font-style: normal; }
  .dataset-citation img {
    max-width: 50px;
    max-height: 50px; }
  .dataset-citation .start-quote {
    align-self: flex-start;
    margin-right: 0.5em; }
  .dataset-citation .end-quote {
    align-self: flex-end;
    margin-left: 0.5em; }

.dataset-links {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  background-color: #EDEDED;
  flex-grow: 1;
  padding: 1em; }
  .dataset-links a {
    height: 60px;
    background-color: #0B4FA3;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-sizing: border-box;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; }
    .dataset-links a:not(:last-child) {
      margin-bottom: 1em; }
    .dataset-links a img {
      height: 1.3em;
      color: white;
      margin-right: 0.5em; }

#taxonomy {
  display: flex;
  flex-flow: row wrap; }
  #taxonomy .banner {
    height: 60px;
    margin: 5px 10px;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform: skewX(-25deg);
    background-color: #0B4FA3; }
    #taxonomy .banner a {
      transform: skewX(25deg);
      padding: 5px 15px;
      color: white;
      height: 60px;
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      align-items: center; }
      #taxonomy .banner a img {
        max-height: 50px;
        margin-right: 1em; }
    #taxonomy .banner.target {
      background-color: black; }
    #taxonomy .banner:after:not(:last-child) {
      width: 0;
      height: 0;
      border-top: 20px solid red;
      border-right: 20px solid transparent; }

.mission-header {
  color: white;
  margin-left: -0.7em;
  margin-right: -0.7em;
  display: flex;
  text-align: center;
  flex-flow: row wrap;
  align-items: center;
  padding: 20px; }
  .mission-header img {
    max-height: 150px; }
  .mission-header h1 {
    font-size: 2.5em; }
  .mission-header ~ aside {
    margin-top: -40px; }

table {
  clear: both;
  border: none;
  border-collapse: collapse;
  border: 2px solid #646464; }
  table th, table td {
    padding: 5px;
    border: 1px solid #c6c6c6; }
  table td .title {
    font-size: 1.1em;
    font-weight: bolder; }
  table td .description {
    font-size: 0.9em;
    color: rgba(0, 0, 0, 0.7); }

.dataset-collections {
  display: flex;
  flex-grow: 1;
  flex-direction: column; }
  .dataset-collections > .header {
    display: flex;
    flex-flow: row nowrap;
    width: 100%; }
    .dataset-collections > .header .type-title {
      font-size: 1.7em; }
    .dataset-collections > .header .date {
      color: #808080;
      text-align: text-bottom; }
    .dataset-collections > .header .bar-button {
      margin-left: auto; }
    .dataset-collections > .header ~ .product:nth-child(2) {
      margin-top: 0.8em; }
  .dataset-collections .collection-container {
    padding: 12px 20px; }

.collection {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 0.5em;
  border-top: 1px solid #ededed; }
  .collection .header {
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .collection .header .example .file-label {
      color: #808080; }
  .collection .collection-title {
    font-size: 1.2em; }
  .collection:first-child {
    border-top: none; }
  .collection .actions {
    flex-grow: 1;
    font-size: 0.9em;
    display: flex;
    flex-flow: row-reverse wrap;
    align-items: center; }
    .collection .actions a {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      text-align: center;
      margin: 0.5em; }
      .collection .actions a img {
        height: 2.5em; }

.collection-container {
  margin-left: 5px;
  border-left: 8px solid #859ec8;
  box-sizing: border-box;
  padding: 20px 0 0 20px; }
  .collection-container h1, .collection-container .collection-title {
    text-align: left; }
    .collection-container h1::before, .collection-container .collection-title::before {
      content: " ";
      display: block;
      background: url("/images/icn-collection.png") no-repeat;
      background-size: 1.5em;
      width: 1.5em;
      height: 1.5em;
      float: left;
      margin: 0 0.8em 0 0; }
  .collection-container h1 {
    margin-top: 0; }
    .collection-container h1 img {
      display: none; }
  .collection-container ~ .collection-container:not(:last-child), .collection-container:first-child {
    border-bottom: none; }

.bundle-container h1 {
  border-bottom: 1px solid #c6c6c6;
  line-height: 2em; }
  .bundle-container h1 .image-container {
    float: left; }
    .bundle-container h1 .image-container img {
      height: 1.7em; }
  .bundle-container h1 .resource-title {
    margin: 0 auto; }

.clearfix:after {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both; }

.family-links {
  margin-left: 5px;
  width: 100%;
  min-height: 75px;
  display: inline-flex;
  flex-flow: row wrap;
  align-items: center; }
  .family-links > a {
    font-size: 1.2em;
    padding-left: 4px;
    height: 60px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center; }
  .family-links img {
    max-height: 48px;
    margin-right: 1em; }
  .family-links div {
    margin-left: auto;
    display: flex;
    flex-flow: row wrap; }
    .family-links div a {
      margin-right: 1em; }

.dataset-quicklinks {
  display: flex;
  flex-flow: row wrap;
  max-width: 1200px; }
  .dataset-quicklinks div {
    display: inline;
    padding: 20px;
    max-width: 500px;
    flex: 1; }
    .dataset-quicklinks div h3 {
      text-align: center; }
    .dataset-quicklinks div a {
      display: flex;
      flex-direction: column;
      align-items: center;
      border: 4px solid #0B4FA3;
      border-radius: 10px;
      padding: 20px; }
      .dataset-quicklinks div a img {
        max-height: 200px;
        max-width: 200px;
        color: white;
        margin-bottom: 0.5em; }
      .dataset-quicklinks div a span {
        word-break: break-all; }

.dataset-downloads ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding-left: 0; }
.dataset-downloads li {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin-left: 0;
  padding: 1em; }
  .dataset-downloads li img {
    height: 1.5em;
    margin-right: 0.8em; }

.big-ugly-button {
  min-width: 120px;
  background-color: #0B4FA3;
  color: white;
  padding: 14px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-sizing: border-box;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

/*# sourceMappingURL=project-main.css.map */
