body {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans', sans-serif; }

/* main */
.sbn-main {
  padding: 0.7em;
  min-height: calc(100vh - 8em); }
  .sbn-main ul {
    list-style-type: none;
    padding-left: 0; }

section {
  display: block; }

/* iPhone 6 & wider */
@media (min-width: 375px) {
  .sbn-footer-text {
    font-size: 1em; }

  .sbn-subtitle {
    font-size: 1.2em; } }
/* iPhone 6 Plus & wider */
/* iPad (portrait mode) & wider */
@media (min-width: 768px) {
  .menu-clickable {
    display: none; }

  .sbn-menu-handle {
    display: none; }

  .sbn-sidebar {
    box-sizing: border-box;
    width: 250px;
    position: absolute;
    left: 0;
    top: 5em; }

  .sbn-title {
    font-size: 1em; }

  .sbn-subtitle {
    font-size: 1.7em; }

  .nasa-logo {
    height: 4.5em; }

  .sbn-main {
    margin-left: 250px;
    min-height: 550px; } }
/* iPad (landscape mode) & wider */
@media (min-width: 1024px) {
  .sbn-header {
    background-position-x: right; } }
h1 {
  text-align: center; }

.tiny-icon {
  height: 1.5em; }

main aside {
  float: right;
  max-width: 50%;
  display: flex;
  flex-direction: column; }
  main aside section {
    margin-bottom: 1em;
    margin-right: 15px;
    box-shadow: 1px 1px 2px #dadada; }

.datum {
  font-weight: bold; }

.download-size {
  font-size: 0.7em; }

.dataset-metadata {
  display: block;
  padding: 0 20px 0 20px;
  background-color: #EDEDED; }

.related-references {
  display: flex;
  flex-flow: row wrap; }
  .related-references section {
    flex: 1;
    min-width: 350px; }

.dataset-pds3, .dataset-superseded, .dataset-related {
  font-size: 0.9em;
  background-color: #EDEDED;
  padding: 20px;
  margin: 15px;
  box-shadow: 1px 1px 2px #dadada; }
  .dataset-pds3 .header, .dataset-superseded .header, .dataset-related .header {
    display: block;
    margin: -20px -20px 15px -20px;
    padding: 15px;
    text-align: center;
    color: white;
    font-size: 1.3em; }

.dataset-delivery {
  background-color: #859ec8;
  color: white;
  display: flex;
  text-align: center;
  flex-flow: column;
  margin: -0.7em; }

.dataset-pds3, .dataset-related {
  border: 2px solid #859ec8; }
  .dataset-pds3 .header, .dataset-related .header {
    background-color: #859ec8; }

.dataset-superseded {
  border: 2px solid #812517; }
  .dataset-superseded .header {
    background-color: #812517; }

.dataset-links {
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 30px; }
  .dataset-links a {
    margin: 1em;
    height: 120px;
    width: 120px;
    background-color: #0B4FA3;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-sizing: border-box;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .dataset-links a img {
      height: 2em;
      color: white;
      margin-bottom: 0.5em; }

#taxonomy {
  display: flex;
  flex-flow: row wrap; }
  #taxonomy .banner {
    height: 60px;
    margin: 5px 10px;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform: skewX(-25deg);
    background-color: #0B4FA3; }
    #taxonomy .banner a {
      transform: skewX(25deg);
      padding: 5px 15px;
      color: white;
      height: 60px;
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      align-items: center; }
      #taxonomy .banner a img {
        max-height: 50px;
        margin-right: 1em; }
    #taxonomy .banner.target {
      background-color: black; }
    #taxonomy .banner:after:not(:last-child) {
      width: 0;
      height: 0;
      border-top: 20px solid red;
      border-right: 20px solid transparent; }

.mission-header {
  color: white;
  margin-left: -0.7em;
  margin-right: -0.7em;
  display: flex;
  text-align: center;
  flex-flow: row wrap;
  align-items: center;
  padding: 20px; }
  .mission-header img {
    max-height: 150px; }
  .mission-header h1 {
    font-size: 2.5em; }
  .mission-header ~ aside {
    margin-top: -40px; }

.primary-table {
  clear: both;
  border: none; }
  .primary-table * {
    border-collapse: collapse; }
  .primary-table th, .primary-table td {
    padding: 5px; }
  .primary-table td .title {
    font-size: 1.1em;
    font-weight: bolder; }
  .primary-table td .description {
    font-size: 0.9em;
    color: rgba(0, 0, 0, 0.7); }

/*# sourceMappingURL=project-main.css.map */
