$link: #0B4FA3;
$blue: #859ec8;
$red: #812517;

$superLightGrey: #f6f6f6;
$lightGrey: #ededed;
$moderatelyLightGrey: #dadada;
$grey: #c6c6c6;
$darkGrey: #808080;
$superDarkGrey: #646464;

$main-padding: 0.7em;

$readable-width: 1200px;