---
layout: default
---

<h1 id="title">PDS Asteroid/Dust Archive</h1>

<p>
    This archive site provides access to PDS data on asteroids, dust, planetary satellites, meteorites, and selected other small solar system bodies and laboratory data. Use the links below to select data by target type, by data type, or by mission.
</p>

<h2>Select data by data type:</h2>
<ul>
{% assign sorted_tags = site.datasets | map: 'tags' | uniq | sort %} 

{% for tag in sorted_tags %}
    {% assign tagData = site.data.tags[tag] %}
    {% if tagData.type == 'data' %}
    <li><a href="{{tagData.url}}">{{ tagData.contextualName }}</a></li>
    {% endif %}
{% endfor %}
</ul>

<h2> Select data by target type: </h2>
<ul>
{% for tag in sorted_tags %}
    {% assign tagData = site.data.tags[tag] %}
    {% if tagData.type == 'target' %}
    <li><a href="{{tagData.url}}">{{ tagData.contextualName }}</a></li>
    {% endif %}
{% endfor %}
</ul>

<h2>Select data by mission:</h2>
<ul>
    <li><a href="/resource/dawn/">Dawn</a>: 4 Vesta, 1 Ceres</li>
    <li><a href="/resource/orex/">OSIRIS-REx</a>: 101955 Bennu</li>
    <li><a href="/resource/neowisediam.html">NEOWISE</a></li>
</ul>


<p>
    For help in navigating the directory structure and file types of PDS data sets, see the Small Bodies Node page <a href="http://pdssbn.astro.umd.edu/howto/understand.shtml">"How to Approach a PDS Data Set"</a>.
</p>