---
layout: resource
---
{% assign data = site.data.bundles[page.dataset] %}

{% if data.collections.size > 0 %}
<section class="dataset-collections">
    <div class="header">
        <div>
            <span class="type-title">In this dataset...</span>
        </div>
    </div>
    <div>
    {% for collectionStub in data.collections %}
        {% assign collectionId = collectionStub.id %}
        {% assign collectionData = site.data.collections[collectionId] %}
        {% assign collectionPost = null %}
        {% for post in site.posts %}
            {% if post.dataset == collectionId %}
                {% assign collectionPost = post %}
            {% endif %}
        {% endfor %}
        <div class="collection collection-container">
            <div class="header">
                {% if collectionPost %} <a href="{{ collectionPost.permalink }}"> {% endif %}
                <span class="collection-title" title="Collection Title">{{collectionStub.displayName}}</span>
                {% if collectionPost %} </a> {% endif %}

                {% if collectionData.example.size > 0 %}
                <span class="example">
                    {% if collectionData.isDocument %}
                    <span class="file-label">Key Document:</span>
                    {% else %}
                    <span class="file-label">Example File:</span>
                    {% endif %}
                    <a href="{{ collectionData.example.url }}">{{ collectionData.example.name }}</a>
                </span>
                {% endif %}
            </div>
            <div class="actions">
                <a href="{{ collectionStub.location.downloadUrl }}"><img src="/images/icn-download-rnd.png"> {% if collectionStub.location.downloadSize %} <span class="download-size">({{ collectionStub.location.downloadSize }})</span> {% endif %}</a>
            </div>
        </div>
    {% endfor %}
    </div>
</section>
{% endif %}
