---
layout: resource
---
{% assign data = site.data.collections[page.dataset] %}

<section class="dataset-quicklinks">
    {% if data.localDocumentsUrl %}
    <div>
        <h3>View Local Documents</h3>
        <a href="{{data.localDocumentsUrl}}">
            <img src="/images/icn-documents.png">
            <span>View Local Documents</span>
        </a>
    </div>
    {% endif %}
    {% if data.example.size > 0 %}
    <div>
        {% if data.isDocument %}
        <h3>Key Document</h3>
        {% else %}
        <h3>Example File</h3>
        {% endif %}
        
        <a href="{{data.example.url}}">
            {% if data.example.thumbnailUrl %}
            <img src="{{data.example.thumbnailUrl}}">
            {% else %}
            <img src="/images/icn-file.png">
            {% endif %}
            <span>{{ data.example.name }}</span>
        </a>
    </div>
    {% endif %}
</section>



{% if data.alternateLocations.size > 0 %}
<h3>Download packages:</h3>
<section class="dataset-downloads">
    <ul>
        <li>
            <img src="/images/icn-package.png">
            <a href="{{ data.location.downloadUrl }}"> 
                <span> Download All {% if data.location.downloadSize %} <span class="download-size">({{ data.location.downloadSize }})</span> {% endif %}</span>
            </a>
        </li>
        {% for alt in data.alternateLocations %}
        <li>
            <img src="/images/icn-package.png">
            <a href="{{ alt.downloadUrl }}">
                <span> {{ alt.name }} {% if alt.downloadSize %} <span class="download-size">({{ alt.downloadSize }})</span> {% endif %}</span>
            </a>
        </li>
        {% endfor %}
    </ul>
</section>
{% endif %}


<!-- {% if data.otherInstrumentsUrl or data.missionBundleUrl %}
<h3>More Information:</h3>
<section class="dataset-quicklinks">
{% if data.otherInstrumentsUrl %}
    <a href="{{data.otherInstrumentsUrl}}">Other Instruments</a>
{% endif %}
{% if data.missionBundleUrl %}
    <a href="{{data.missionBundleUrl}}">Mission Information Bundle</a>
{% endif %}
</section>
{% endif %} -->