---
layout: default
---
{% assign instrument = site.data.instruments[page.instrument] %}
{% assign mission = site.data.missions[instrument.mission] %} 

<div id="taxonomy">
    <h3>Relevant Tags:</h3>
    {% for tag in instrument.tags %}
    <div class="banner">
        {% assign tagData = site.data.tags[tag] %}
        <a class="ignore-a-styling" href="{{ tagData.url }}">
            <span> {% if tagData.displayName.size > 0 %} {{ tagData.displayName }} {% else %} {{ tag }} {% endif %} </span>
        </a>
    </div>
    {% endfor %}
</div>
    
<div class="instrument-header">
    <h1> {{ instrument.name }} </h1>
</div>

<aside>
    <section class="dataset-metadata">
        <h2>On Mission:</h2>
        <p><a class="ignore-a-styling" href="{{ mission.url }}"> {{ instrument.mission }}</a></p>

        <h2>Targeted bodies:</h2>
        {% for targetName in mission.targets %}
            {% include related-target.html target=targetName %}
        {% endfor %}

        <h2>Other Instruments:</h2>
        {% for instrumentId in mission.instruments %}
            {% assign instrument = site.data.instruments[instrumentId] %}
            {% if instrument.prime and instrumentId != page.instrument %}
                <p><a class="ignore-a-styling" href="{{instrument.url}}"> {{instrument.contextualName}} </a></p>
            {% endif %}
        {% endfor %}
    </section>
</aside>
<h3 itemprop="description" class="resource-description">{{ instrument.description }}</h3>
     
<h2>Datasets:</h2>
    <section class="target-mission-datatypes">
        {% assign datasets = site.datasets | where: "resource", true | sort %}
        {% assign dataTypes = datasets | map: 'tags' | uniq %}

        {% for dataType in dataTypes %}
            {% assign tagData = site.data.tags[dataType] %}
            {%- capture datasetsToDisplay -%}
            {%- for dataset in datasets -%}
                
                {%- if dataset.layout == 'bundle' -%}
                {%- assign data = site.data.bundles[dataset.dataset] -%}
                {%- elsif dataset.layout == 'collection' -%}
                {%- assign data = site.data.collections[dataset.dataset] -%}
                {%- endif -%}

                {%- if data.instrument == page.instrument and dataset.resource and dataset.tags contains dataType -%}
                {{ dataset.dataset }},
                {%- endif -%}

            {%- endfor -%}
            {%- endcapture -%}
            
            {% assign datasetsToDisplay = datasetsToDisplay | split: ',' | compact %}
            {% if datasetsToDisplay.size > 0 %}
            <div class="target-mission-datatype-datasets">
            <h4>{{ tagData.contextualName }}</h4>
            <ul>
                {% for datasetId in datasetsToDisplay %}
                    {% assign dsid = datasetId %}
                    {% assign ds = site.datasets | where: 'dataset', dsid | first %}
                    <li><a href="{{ ds.url }}">{{ ds.title }}</a></li>
                {% endfor %}
            </ul>
            </div>
            {% endif %}
        {% endfor %}
    </section>