---
layout: default
---
{% if page.layout == 'bundle' %}
{% assign data = site.data.bundles[page.dataset] %}
{% elsif page.layout == 'collection' %}
{% assign data = site.data.collections[page.dataset] %}
{% endif %}

{% assign mission = site.data.missions[data.mission] %}
{% assign target = site.data.targets[data.target.name] %}

<div id="taxonomy">
    {% if mission or target or page.tags.size > 0%}
    <h3>Relevant Tags:</h3>
    {% endif %}
    {% if mission %}
    <div class="mission banner" style="background-color: {{ mission.color }}">
        <a class="ignore-a-styling" href="{{ mission.url }}">
            <img src="{{ mission.icon }}">
            <span>Data from {{ data.mission }}</span>
        </a>
    </div>
    {% endif %}
    {% if target %}
    <div class="target banner">
        <a class="ignore-a-styling" href="{{ target.url }}">
            <img src="{{ target.icon }}">
            <span> Data from {{ data.target.name }}</span>
        </a>
    </div>
    {% endif %}
    {% for tag in page.tags %}
    <div class="banner">
        {% assign tagData = site.data.tags[tag] %}
        <a class="ignore-a-styling" href="{{ tagData.url }}">
            <span> {% if tagData.displayName.size > 0 %} {{ tagData.displayName }} {% else %} {{ tag }} {% endif %} </span>
        </a>
    </div>
    {% endfor %}
</div>

{% if data.bundleId %}
    {% assign bundleId = data.bundleId %}
    {% assign bundle = site.data.bundles[bundleId] %}
    {% for datasetPage in site.datasets %}
        {% if datasetPage.dataset == bundleId %}
            {% assign bundlePage = datasetPage %}
        {% endif %}
    {% endfor %}
    <div class="family-links">
        <img src="/images/icn-bundle.png">
        Part of <a class="ignore-a-styling" href="{{ bundlePage.permalink }}"><span>{{ bundle.name }}</span></a>
        {% if data.otherInstrumentsUrl or data.missionBundleUrl %}
        <div>
            {% if data.otherInstrumentsUrl %}
                <a class="big-ugly-button" href="{{data.otherInstrumentsUrl}}">Other Instruments</a>
            {% endif %}
            {% if data.missionBundleUrl %}
                <a class="big-ugly-button" href="{{data.missionBundleUrl}}">Mission Information Bundle</a>
            {% endif %}
        </div>
        {% endif %}
    </div>
{% endif %}
<div itemscope itemtype="https://schema.org/Dataset"
class="clearfix 
{% if page.layout == 'collection' %}
collection-container
{% elsif page.layout == 'bundle' %}
bundle-container
{% endif %}
">
    
    <h1 itemprop="name">
        <div class="image-container">
            <img src="/images/icn-bundle.png">
        </div>
        <div class="resource-title">
            {{ data.name }}
        </div>
    </h1>
    
    {% if data.delivery %} 
        <div class="dataset-delivery">
            <p>{{ data.delivery.completionText }}</p>
            <p>Latest release date: <span class="datum">{{ data.delivery.date }}</span></p>
        </div>
    {% endif %}
    
    <aside>
        <section class="dataset-metadata">
            {% if page.layout == 'collection' %}
            <h2>PDS4 Collection</h2>
            {% elsif page.layout == 'bundle' %}
            <h2>PDS4 Bundle</h2>
            {% endif %}
            <p>Status: <br/>
                {% if data.published %} <span class="datum">Published</span>
                {% else %} <span class="datum">Accumulating</span>
                {% endif %}
            </p>
            {% if data.published %}<p>Date Published: <br/><span class="datum" itemprop="datePublished" itemscope itemtype="http://schema.org/Date">{{ data.datePublished }}</span></p>{% endif %}
            <p>Publisher:<br/>
                <span class="datum" itemprop="publisher" itemscope itemtype="http://schema.org/Organization">{{ data.publisher.name }}</span>
            </p>
            {% if data.lidvid %}<p>PDS4 ID: <br/><span class="datum">{{ data.lidvid }}</span></p>{% endif %}
            {% if data.doi %}<p>DOI:<br/> <span class="datum">{{ data.doi }}</span></p>{% endif %}
            
            {% if data.authorList.size > 0 %}
            <p>Author(s):<br/>
                {% for author in data.authorList %}
                <span class="datum" itemprop="author" itemscope itemtype="http://schema.org/Person">{{ author }}</span><br/>
                {% endfor %}    
            </p>
            {% endif %}
            
            <!-- Hidden data values-->
            <span class="datum" itemprop="provider" style="display:none" itemscope itemtype="http://schema.org/Organization">{{ data.provider.name }}</span>
        </section>
        {% if data.location %}
        <section class="dataset-links">
            <a href="{{ data.location.browseUrl }}"><img src="/images/icn-folder.png"><span> Browse All </span></a>
            <a href="{{ data.location.downloadUrl }}"><img src="/images/icn-download.png"> <span> Download All {% if data.location.downloadSize %} <span class="download-size">({{ data.location.downloadSize }})</span> {% endif %}</span></a>
            {% if data.location.checksumUrl %}
            <a href="{{ data.location.checksumUrl }}"><img src="/images/icn-checksum.png"><span> View Checksums </span></a>
            {% endif %}
        </section>
        {% endif %}
    </aside>

    {% if data.humanDescription %}
    <h3 itemprop="description" class="resource-description">{{ data.humanDescription }}</h3>
    {% else %}
    <h3 itemprop="description" class="resource-description">{{ data.abstract }}</h3>
    {% endif %}
    
    
    <!-- Bundle/Collection-specific content start -->
    {{ content }}
    <!-- Bundle/Collection-specific content end -->
    
    
    {% if data.relatedTools.size > 0 %}
    <section class="dataset-tools">
        <h3 class="header"> Available tools for this data: </h3>
        <ul>
            {% for related in data.relatedTools %}
            <li>
                <a href="{{ related.url }}"><div class="image-container"><img src="{{related.icon}}"/></div><span class="tool-title">{{ related.name }}</span></a>
            </li>
            {% endfor %}
        </ul>
        </section>
    {% endif %}

    {% if data.citation %}
        <section class="dataset-citation">
            <img class="start-quote" src="/images/quotes-start.png">
            <div>
                <p>Use the following citation to reference this data set:</p>
                <p class="citation">"{{ data.citation }}"</p>
            </div>
            <img class="end-quote" src="/images/quotes-end.png">
        </section>
    {% endif %}
    
</div>
<div class="related-references">
{% if data.pds3.size > 0 %}
    <section class="dataset-pds3">
        <h3 class="header"> PDS3 versions of this dataset: </h3>
        {{ data.pds3.name }}
        <a href="{{ data.pds3.location.browseUrl }}"><img class="tiny-icon" src="/images/icn-folder-rnd.png"></a>
        <a href="{{ data.pds3.location.downloadUrl }}"><img class="tiny-icon" src="/images/icn-download-rnd.png"> {% if data.pds3.location.downloadSize %} <span class="download-size">({{ data.pds3.location.downloadSize }})</span> {% endif %}</a>
    </section>
{% endif %}
{% if data.superseded.size > 0 %}
    <section class="dataset-superseded">
        <h3 class="header"> Superseded versions of this data set: </h3>
        <ul>
            {% for superseded in data.superseded %}
            <li>
                {{ superseded.name }}
                <a href="{{ superseded.location.browseUrl }}"><img class="tiny-icon" src="/images/icn-folder-rnd.png"></a>
                <a href="{{ superseded.location.downloadUrl }}"><img class="tiny-icon" src="/images/icn-download-rnd.png">{% if superseded.location.downloadSize %} <span class="download-size">({{ superseded.location.downloadSize }})</span> {% endif %}</a>
            </li>
            {% endfor %}
        </ul>
        </section>
{% endif %}
{% if data.relatedData.size > 0 %}
    <section class="dataset-related">
        <h3 class="header"> Related Datasets: </h3>
        <ul>
            {% for related in data.relatedData %}
            <li>
                <a href="{{ related.url }}">{{ related.name }}</a>
            </li>
            {% endfor %}
        </ul>
        </section>
{% endif %}
</div>