---
layout: default
---
{% assign target = site.data.targets[page.target] %}
{% assign parentTarget = target.relatedTargets | where:"relationship", "parent" %} 
{% assign childTargets = target.relatedTargets | where:"relationship", "child" %} 
{% assign associatedTargets = target.relatedTargets | where:"relationship", "associated" %} 


<div id="taxonomy">
    <h3>Relevant Tags:</h3>
    {% for tag in target.tags %}
    <div class="banner">
        {% assign tagData = site.data.tags[tag] %}
        <a class="ignore-a-styling" href="{{ tagData.url }}">
            <span> {% if tagData.displayName.size > 0 %} {{ tagData.displayName }} {% else %} {{ tag }} {% endif %} </span>
        </a>
    </div>
    {% endfor %}
</div>

<div class="target-header">
    <img src="{{ target.icon }}">
    <h1> {{ page.target }} Data Archive </h1>
</div>

<aside>
    <section class="dataset-metadata">
        <h2>Related Targets:</h2>
        
        {% for related in parentTarget %}
        {% include related-target.html target=related.name %}
        {% endfor %}
        {% for related in childTargets %}
        {% include related-target.html target=related.name %}
        {% endfor %}
        {% for related in associatedTargets %}
        {% include related-target.html target=related.name %}
        {% endfor %}

        <h2>Missions:</h2>
        {% for missionName in target.missions %}
        {% assign mission = site.data.missions[missionName] %}
        <p>
            <a class="ignore-a-styling" href="{{ mission.url }}"> {{ missionName }}</a>
        </p>
        {% endfor %}
    </section>
</aside>
<h3 itemprop="description" class="resource-description">{{ target.description }}</h3>

{% assign allMissions = site.data.missions %}

<h2>Datasets:</h2>
    {% for mission in allMissions %}
    {% if target.missions contains mission[0] %}
    <section class="target-mission-datatypes">
        <h3>{{mission[0]}}</h3>
        {% assign datasets = site.datasets | where: "resource", true | sort %}
        {% assign dataTypes = datasets | map: 'tags' | uniq %}

        {% for dataType in dataTypes %}
            {% assign tagData = site.data.tags[dataType] %}
            {%- capture datasetsToDisplay -%}
            {%- for dataset in datasets -%}
                
                {%- if dataset.layout == 'bundle' -%}
                {%- assign data = site.data.bundles[dataset.dataset] -%}
                {%- elsif dataset.layout == 'collection' -%}
                {%- assign data = site.data.collections[dataset.dataset] -%}
                {%- endif -%}

                {%- if data.mission == mission[0] and dataset.resource and dataset.tags contains dataType -%}
                {{ dataset.dataset }},
                {%- endif -%}

            {%- endfor -%}
            {%- endcapture -%}
            
            {% assign datasetsToDisplay = datasetsToDisplay | split: ',' | compact %}
            {% if datasetsToDisplay.size > 0 %}
            <div class="target-mission-datatype-datasets">
            <h4>{{ tagData.contextualName }}</h4>
            <ul>

                {% for datasetId in datasetsToDisplay %}
                    {% assign dsid = datasetId %}
                    {% assign ds = site.datasets | where: 'dataset', dsid | first %}
                    <li><a href="{{ ds.url }}">{{ ds.title }}</a></li>
                {% endfor %}
            </ul>
            </div>
            {% endif %}
        {% endfor %}

    </section>
    {% endif %}
    {% endfor %}